<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.eiscamera" version="1.1.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
        
    <name>EIS Camera Pro</name>
    <description>Стабилизация видео со звуком</description>
    <author email="dev@example.com">Creator</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />

    <plugin name="cordova-plugin-camera" spec="^7.0.0" />
    <plugin name="cordova-plugin-media-capture" spec="^5.0.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
    </platform>
</widget>